<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">
  <p class="caps--10">{{ section.settings.social_share_heading | default: 'Share this Item' }}</p>
  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      {% render 'icon-facebook' %}
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
      {% render 'icon-twitter' %}
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
      {% render 'icon-pinterest' %}
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}

</div>
