<!--
https://support.yotpo.com/en/article/shopify-installing-yotpo#manual-installation-a-step-by-step-guide

Step 1: inculde yotpo script right before </head> with app key (found in Yotpo > Account > General Settings)
Step 2: include this file
Step 3: Go to admin > settings > checkout > order processing > additional scripts and add this code:

<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/##APP_KEY##/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
<script>yotpoTrackConversionData = {source:"pixel_v2", platform:"shopify", orderId:"{{order_id}}", orderNumber:"{{order_number}}", orderName:"{{order_name|handleize}}", orderAmount:"{{subtotal_price|money_without_currency}}", orderCurrency:"{{shop.currency}}"}</script>

<noscript><img src="//api.yotpo.com/conversion_tracking.gif?app_key=##APP_KEY##&source=pixel_v2&platform=shopify&noscript=1&order_id={{order_id}}&order_number={{order_number}}&order_name={{order_name|handleize}}&order_amount={{subtotal_price|money_without_currency}}&order_currency={{shop.currency}}" width="1" height="1"></noscript>

Step 4: Replace the two occurrences of app key with my app key in the above snippet



 -->

<div id="sh-yotpo">
  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-price="{{ variant.price | money_without_currency }}"
  data-currency=“{{ shop.currency }}” data-description=“{{ product.description | escape }}“>
  {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
  {%- assign yotpo_main_widget_obsolete = false %}
  {%- else %}
  {%- assign yotpo_main_widget_obsolete = true %}
  {%- endif %}
  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
  {%- for field in product.metafields.yotpo_reviews -%}
  {{ field | last }}
  {%- endfor -%}
  {%- endif %}
</div>
</div>

<!-- ======================================
REVIEW STARS
=========================================== -->
<div id="sh-yotpo-stars">
  <div class="yotpo bottomLine"
    data-product-id="{{ product.id }}">
    {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
    {%- assign time_now = 'now' | date: '%s' %}
    {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
    {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
    {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
    {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
    {%- if yotpo_live_time and diff_seconds_from_live < 86400 and yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
    {%- assign yotpo_bottomline_obsolete = false %}
    {%- else %}
    {%- assign yotpo_bottomline_obsolete = true %}
    {%- endif %}
    {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
    {{ product.metafields.yotpo.bottomline }}
    {%- endif %}
  </div>

</div>
