<div class="page-account container page-padding-top page-general page-login" >
  <div class="form-success hide" id="ResetSuccess">
    {{ 'customer.recover_password.success' | t }}
  </div>

  <div id="CustomerLoginForm" class="js-animate">
    {% form 'customer_login' %}
      <h1 class="hd-3" data-anim="slide" data-anim-order="1">{{ 'customer.login.title' | t }}</h1>

      {{ form.errors | default_errors }}

      <div class="form-inner-wrap" data-anim="slide" data-anim-order="2">
        <label for="CustomerEmail" class="label-hidden">
          {{ 'customer.login.email' | t }}
        </label>
        <input type="email"
               name="customer[email]"
               id="CustomerEmail"
               class="{% if form.errors contains 'email' %}input-error{% endif %}"
               placeholder="{{ 'customer.login.email' | t }}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               autofocus>

        {% if form.password_needed %}
          <label for="CustomerPassword" class="label-hidden">
            {{ 'customer.login.password' | t }}
          </label>
          <input type="password"
                 name="customer[password]"
                 id="CustomerPassword"
                 class="{% if form.errors contains 'password' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}
      </div>

      <div class="btn-row" data-anim="slide" data-anim-order="3">
        <button type="submit" class="btn btn--black">
          <span class="text">Sign In</span>
        </button>
      </div>
      <div class="end-note" data-anim="slide" data-anim-order="4">
        <p>
          <a href="/account/register">
            {{ 'layout.customer.create_account' | t }}
          </a>
        </p>

        {% if form.password_needed %}
            <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
        {% endif %}
      </div>
    {% endform %}

  </div>

  <div id="RecoverPasswordForm" class="hide">
    <h1>{{ 'customer.recover_password.title' | t }}</h1>
    <p class="desc">{{ 'customer.recover_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
      <div class="form-inner-wrap">
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}

        <label for="RecoverEmail" class="label-hidden">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
               name="email"
               id="RecoverEmail"
               placeholder="{{ 'customer.recover_password.email' | t }}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off">

         <div class="btn-row">
           <button type="submit" class="btn btn--black">
             <span class="text">Submit</span>
           </button>
         </div>

      </div>
    {% endform %}

  </div>

  {% if shop.checkout.guest_login %}
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
      <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  {% endif %}
</div>
