<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">


  <section class="page-padded-top-sm container">

    <div class="cols-2 swiper-cols no-gutters">
      <!-- ====== IMAGE ======== -->
      <div class="image-col">
        <!-- ====== GALLERY ======== -->
        {% if product.images.size > 1 %}

          <div class="swiper-outer-wrapper">
            <div class="swiper-container swiper-container-pdp">
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <section class="swiper-slide">
                    {%- if image.alt -%}
                      {%- assign alt_text = image.alt | escape -%}
                    {%- else -%}
                      {%- assign alt_text = product.title -%}
                    {%- endif -%}

                    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <div class="cropped-image-wrapper zoom-on-hover">
                      <img
                      class="lazyload fade-in"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ alt_text }}"
                      >

                      <img
                      class="lazyload zoom"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ alt_text }}"
                      >
                    </div>
                  </section>
                {% endfor %}
              </div>
              <button type="button" class="text-only swiper-prev" aria-label="Previous Slide">
                {% render 'icon-caret-left' %}
              </button>
              <button type="button" class="text-only swiper-next" aria-label="Next Slide">
                {% render 'icon-caret-right' %}
              </button>
            </div>

            <div class="js-product-thumbs product-thumbs">
              {% for image in product.images %}
                  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <a href="#" class="product-thumbs__thumb" title='Slide to product image {{forloop.index0 }}'>
                    <div class="cropped-image-wrapper">
                      <img
                      class="lazyload fade-in"
                      data-src="{{ img_url }}"
                      data-widths="[40, 800, 100, 300, 400]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ alt_text }}"

                      >
                    </div>
                  </a>
              {% endfor %}
            </div>
          </div>

        <!-- ====== SINGLE IMAGE ======== -->
        {% elsif featured_image != blank %}
          <div class="cropped-image-wrapper tall">
            {% assign image = featured_image %}
            {% assign alt_text = featured_image.alt | escape %}
            {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <div class="cropped-image-wrapper">
              <img
                class="lazyload fade-in"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ alt_text }}"
                >
            </div>
          </div>
        {% endif %}
      </div>


      <div class="text-col">

        <div class="inner">
          <!-- ====== INTRO TEXT ======== -->
          <h1 class="hd-4">{{ product.title }}</h1>

          <!-- ====== PRICE ======== -->
          <span data-price-wrapper class="price-wrapper">
            <span class="js-price" data-raw-price="{{ current_variant.price }}" data-product-price>
              {{ current_variant.price | money_without_trailing_zeros }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money_without_trailing_zeros }}
                {% endif %}
              </s>
            {% endif %}
          </span>

          <!-- ====== BODY ======== -->
          <div class="rte desc body--11">
            {{ product.description }}
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            <!-- ====== FORM ======== -->
            <form action="/cart/add" method="post" class="js-add-to-cart-form add-to-cart-form" enctype="multipart/form-data">


              <!-- ====== COLOR SWATCHES ======== -->
              {%- if product.options_by_name['Color'].values.size > 0 -%}
                <div class="variant-row">
                  <div class="caps--10">Color</div>
                  {%- assign tag_alt = "BLANK" -%}
                  {%- for tag in product.tags -%}
                    {%- assign tag_prefix = tag | slice: 0, 5 -%}
                    {%- if tag_prefix == "_alt_" -%}
                      {%- assign tag_alt = tag -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                  {%- unless tag_alt == "BLANK" -%}
                    {%- assign vendor_handle = product.vendor | handle -%}
                    {%- if collections['all'].products.size > 0 -%}
                      {%- assign alt_products_total = 0 -%}
                      {%- capture products_output -%}
                        {%- paginate collections['all'].products by 200 -%}
                          {%- for alt_product in collections['all'].products -%}
                            {%- if alt_product.tags contains tag_alt -%}

                              {%- assign alt_products_total = alt_products_total | plus: 1 -%}
                              <div class="product-color {% if alt_product.id == product.id %}current-color{% endif %}">
                                {%- unless alt_product.id == product.id -%}
                                  <a href="{{ alt_product.url }}" title="{{ alt_product.title }}">
                                {%- endunless -%}
                                  {% for color_option in alt_product.options_by_name['Color'].values %}
                                    <img src="{{ color_option | handle | append: '.' | append: 'jpg' | file_img_url: '40x40' }}" alt="{{ color_option }}">
                                  {% endfor %}
                                {%- unless alt_product.id == product.id -%}
                                  </a>
                                {%- endunless -%}
                              </div>

                            {%- endif -%}
                          {%- endfor -%}
                        {%- endpaginate -%}
                      {%- endcapture -%}
                    {%- endif -%}
                  {%- else -%}
                    <!-- ====== NO OTHER COLORS, BUT SHOW SWATCH ======== -->
                    {%- capture products_output -%}
                      <div class="product-color current-color">
                        {% for color_option in product.options_by_name['Color'].values %}
                          <img src="{{ color_option | handle | append: '.' | append: 'jpg' | file_img_url: '40x40' }}" alt="{{ color_option }}">
                        {% endfor %}
                      </div>
                    {%- endcapture -%}
                  {%- endunless -%}

                  <div class="product-alt-colours">
                  {{ products_output }}
                  </div>

                  <div class="variant-row__right">
                    {{ product.options_by_name['Color'].values[0] }}
                  </div>
                </div>
              {%- endif -%}


              <!-- ====== HIDDEN OPTION SELECT ======== -->
              {%- unless product.has_only_default_variant -%}
                {%- for option in product.options_with_values -%}
                  <div class="selector-wrapper js hide">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}" class="caps--10">
                      {{ option.name }}
                    </label>

                    <select
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      class="js-single-option-selector"
                      data-single-option-selector
                      data-index="option{{ option.position }}">
                      {%- for value in option.values -%}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                {%- endfor -%}
              {%- endunless -%}

              <!-- ====== SWATCHES ======== -->
              {%- if product.variants.size > 1 -%}
                {% render 'swatch' for product.options as swatch %}
              {%- endif -%}

              <!-- ====== HIDDEN VARIANT ID SELECT ======== -->
              <select name="id" class="js-variant-id selector-wrapper visually-hidden no-js" data-product-select>
                {%- for variant in product.variants -%}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {%- endfor -%}
              </select>

              <!-- ====== QUANTITY ======== -->
              <label for="quantity" class="visually-hidden">{{ 'products.product.quantity' | t }}</label>
              <input type="hidden" id="quantity" class="js-quantity" name="quantity" value="1" min="1">

              <button
                type="submit"
                name="add"
                class="btn btn--black btn--star"
                data-add-to-cart
                {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                  <span data-add-to-cart-text>
                    {% if current_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                  <span class="icon-wrap">
                    {% render 'icon-star' %}
                  </span>
              </button>
            </form>

          </div>

          {%- if product.metafields.accentuate.panel_heading -%}
            <div class="panel-switcher">
              <div class="panel-switcher__tabs">
                {%- for panel_heading in product.metafields.accentuate.panel_heading -%}
                  <button type="button" class="panel-switcher__tab text-only {% if forloop.index == 1 %}active{% endif %}" data-panel="{{ panel_heading | handleize }}"><span class="text">{{ panel_heading }}</span></button>
                {%- endfor -%}
              </div>

              <div class="panel-switcher__panels">
                {%- for panel_heading in product.metafields.accentuate.panel_heading -%}
                  <div class="panel-switcher__text" data-panel="{{ panel_heading | handleize }}">
                    <div class="panel-switcher__text--inner desc">
                      {{ product.metafields.accentuate.panel_body_text[forloop.index0] }}
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}

          {% if section.settings.show_share_buttons %}
            {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}

        </div>
      </div>


    </div>
  </section>


  <!-- ======================================
  IMAGES ROW
  =========================================== -->
  {%- if product.metafields.accentuate.two_image_row_left or product.metafields.accentuate.full_width_image -%}
    <section class="lifestyle container padded">
      {%- if product.metafields.accentuate.two_image_row_left -%}
        <div class="cols-2 row lifestyle__half js-animate">
          {%- for left_image in product.metafields.accentuate.two_image_row_left -%}
            <div data-anim="fade" data-anim-order="1">
              {%- assign img_url = left_image[0].cloudinary_src | append: 'w_1' | replace: 'w_1', 'w_{width}' -%}
              {% render 'block-image-cropped-lg', img_url: img_url, alt_text: left_image[0].alt_text %}
            </div>
            <div  data-anim="fade" data-anim-order="2">
              {%- if product.metafields.accentuate.two_image_row__right[forloop.index0] -%}
                {% assign right_image = product.metafields.accentuate.two_image_row__right[forloop.index0] %}
                {%- assign img_url = right_image[0].cloudinary_src | append: 'w_1' | replace: 'w_1', 'w_{width}' -%}
                {% render 'block-image-cropped-lg', img_url: img_url, alt_text: right_image[0].alt_text %}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
      {%- if product.metafields.accentuate.full_width_image -%}
        {%- for full_width_image in product.metafields.accentuate.full_width_image -%}
          <div class="row lifestyle__full js-animate"  >
            <div data-anim="fade" data-anim-order="1">
              {%- assign img_url = full_width_image[0].cloudinary_src | append: 'w_1' | replace: 'w_1', 'w_{width}' -%}
              {% render 'block-image-cropped-lg', img_url: img_url, alt_text: left_image[0].alt_text %}
            </div>

          </div>
        {%- endfor -%}
      {%- endif -%}
    </section>
  {%- endif -%}




  <!-- ======================================
  RECOMMENDED PRODUCTS
  =========================================== -->
  {%- unless product.metafields.accentuate.hide_recommended_products == 'true' -%}
    <section class="recommended-products">
      <h2 class="hd-1 container">{{ section.settings.recommended_products_heading | default: 'You may also like' }}</h2>
      {%- include 'components-related-products' -%}
    </section>
  {%- endunless -%}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{%- include 'ajax-add-to-cart' -%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "id": "social_share_heading",
        "type": "text",
        "label": "Social Share Heading",
        "default": "Share this Item"
      },
      {
        "id": "recommended_products_heading",
        "type": "richtext",
        "label": "Recommended Products Heading"
      },
      {
        "id": "fit_guide_link",
        "type": "url",
        "label": "Fit Guide Link"
      },
      {
        "id": "fit_guide_text",
        "type": "text",
        "label": "Fit Guide Text",
        "default": "Fit Guide"
      }

    ]
  }
{% endschema %}
