{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div class="cropped-image-wrapper fade-and-scale" {% if height != blank %}style="padding-bottom: {{ height }};"{% endif %}>
  {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
  {% assign mobile_img_url = section.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

  <picture>
    <!--[if IE 9]><audio><![endif]-->
    <source
    data-src="{{ mobile_img_url }}"
    media="--small" />
    <!--[if IE 9]></audio><![endif]-->
    <img class="lazyload {{ img_class }}"
        data-src="{{ img_url }}"
        data-sizes="auto"
        alt="{{ alt_text }}">
  </picture>
</div>


<div class="text-content js-animate">
  <header role="banner" >
    <div class="logo-wrapper" itemscope itemtype="http://schema.org/Organization" data-anim="slide" data-anim-order="4">
      {% if section.settings.logo != blank %}
        <img src="{{ section.settings.logo }}"
           alt="{{ section.settings.logo_alt }}"
           itemprop="logo">
      {% endif %}
    </div>
  </header>

  <form class="js-klaviyo-form klaviyo-form" novalidate="novalidate" data-list-id="{{ section.settings.list_id }}" data-anim="slide" data-anim-order="5">
    <div class="js-inner-form-wrap">
      {% if section.settings.form_heading != blank %}
      <h2>{{ section.settings.form_heading | newline_to_br }}</h2>
      {% endif %}
      <div class="input-wrapper">
        <label for="popup-klaviyo-email{{ form_index }}" class="visually-hidden">Enter your email</label>
        <input type="email" id="popup-klaviyo-email{{ form_index }}" placeholder="{{ section.settings.placeholder_text }}">
      </div>
      {% if section.settings.error != blank %}
        <div class="error-message hide">
          <p>{{ section.settings.error }}</p>
        </div>
      {% endif %}

      <div class="btn-row">
        <button type="submit" class="btn text-only" aria-label="Submit email">
          {% render 'icon-arrow-right' %}
        </button>

      </div>
    </div>
    {% if section.settings.success != blank %}
    <div class="success-message hide">
      {{ section.settings.success }}
    </div>
    {% endif %}

  </form>
  <div class="icon" data-anim="slide" data-anim-order="6">
    <img src="{{ 'icon.svg' | asset_url }}" alt="" width="">
  </div>


</div>

{% schema %}
{
  "name": "Password Page",
  "class": "page-password",
  "settings": [
    {
      "id": "logo",
      "type": "url",
      "label": "Logo",
      "info": "Enter file path for svg file from Settings > Files"
    },
    {
      "id": "logo_alt",
      "type": "text",
      "label": "Logo Alt",
      "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Background Image"
    },
    {
      "id": "image_alt",
      "type": "text",
      "label": "Background Image Alt",
      "info": "Write a brief description of this image to improve search engine optimization (SEO) and ADA accessibility."
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "Background Image Mobile"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "id": "form_heading",
      "type": "text",
      "label": "Form Heading",
      "default": "Join Our Mailing List"
    },
    {
      "id": "placeholder_text",
      "type": "text",
      "label": "Placeholder Text",
      "default": "Enter your email"
    },
    {
      "id": "success",
      "type": "text",
      "label": "Success Message",
      "default": "Check your inbox for updates"
    },
    {
      "id": "error",
      "type": "text",
      "label": "Error",
      "default": "Please enter a valid email address"
    },
    {
      "id": "list_id",
      "type": "text",
      "label": "Klaviyo List Id",
      "default": "UEBPdM"
    }

  ]
}
{% endschema %}
