<header class="container js-animate">
  {% if collection.metafields.accentuate.collection_hero_image_link != blank %}
    <a href="/products/{{ collection.metafields.accentuate.collection_hero_image_link }}">
  {% endif %}

    {% if collection.metafields.accentuate.left_heading != blank %}
      <div class="text-content">
        <h1 data-anim="slide" data-anim-order="1">
          {{ collection.metafields.accentuate.left_heading | default: collection.title }}
          {%- if collection.metafields.accentuate.right_heading -%}
            <div class="dividing-line"></div>
            <em>{{ collection.metafields.accentuate.right_heading }}</em>
          {%- endif -%}
        </h1>
      </div>
    {% endif %}

    {% if collection.metafields.accentuate.collection_hero_image != blank %}
      <div class="image-wrap" data-anim="fade-slow">
        <div class="cropped-image-wrapper">
          {% for cl_image in collection.metafields.accentuate.collection_hero_image %}
            {%- assign img_url = cl_image.cloudinary_src | append: 'w_1' | replace: 'w_1', 'w_{width}' -%}
            {%- assign mobile_img_url = collection.metafields.accentuate.collection_mobile_hero_image[0].cloudinary_src | append: 'w_1' | replace: 'w_1', 'w_{width}' -%}
            {% render 'block-image-cropped', img_url: img_url, mobile_img_url: mobile_img_url, alt_text: collection.metafields.accentuate.collection_hero_alt_text %}
          {% endfor %}
        </div>
      </div>
    {% endif %}


  {% if collection.metafields.accentuate.collection_hero_image_link != blank %}
    </a>
  {% endif %}

</header>

{% if collection.metafields.accentuate.collection_intro_text != blank %}
  <section class="intro padded container js-animate">
    {% for cl_image in collection.metafields.accentuate.collection_intro_text %}
      {% assign image_height = cl_image.height %}
      {% assign image_width = cl_image.width %}
      {% assign padding_bottom = image_height | times: 1.00 | divided_by: image_width | times: 100 %}
      <div class="image-wrap" data-anim="fade" data-anim-order="1">
        <div class="cropped-image-wrapper" style="padding-bottom: {{ padding_bottom }}%;">
          <img class="lazyload fade-in"
              data-src="{{ cl_image.cloudinary_src }}"
              data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
              data-aspectratio="{{ cl_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ cl_image.alt_text }}">
        </div>
      </div>
    {% endfor %}
  </section>
{% endif %}


{% for row_format in collection.metafields.accentuate.row_format %}
  <section class="image-section {{ row_format | handleize }}">

    {%- if collection.metafields.accentuate.image_1[forloop.index0] -%}

      <div class="image-left js-animate">
        {% if collection.metafields.accentuate.image_1_product_link[forloop.index0] != blank %}
          <a href="/products/{{ collection.metafields.accentuate.image_1_product_link[forloop.index0] }}">
        {% endif %}
          {% if collection.metafields.accentuate.image_1[forloop.index0] != blank %}
            {% for cl_image in collection.metafields.accentuate.image_1[forloop.index0] %}
              {% assign image_height = cl_image.height %}
              {% assign image_width = cl_image.width %}
              {% assign padding_bottom = image_height | times: 1.00 | divided_by: image_width | times: 100 %}
              <div class="image-wrap" data-anim="fade-slow" data-anim-order="1">
                <div class="cropped-image-wrapper" style="padding-bottom: {{ padding_bottom }}%;">
                  <img class="lazyload fade-in"
                      data-src="{{ cl_image.cloudinary_src }}"
                      data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
                      data-aspectratio="{{ cl_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ cl_image.alt_text }}">
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% if collection.metafields.accentuate.image_1_product_link[forloop.index0] != blank %}
          </a>
        {% endif %}
      </div>

    {%- endif -%}
    {%- if collection.metafields.accentuate.image_2[forloop.index0] -%}

      <div class="image-right js-animate">
        {% if collection.metafields.accentuate.image_2_product_link[forloop.index0] != blank %}
          <a href="/products/{{ collection.metafields.accentuate.image_2_product_link[forloop.index0] }}">
        {% endif %}
          {% if collection.metafields.accentuate.image_2[forloop.index0] != blank %}
            {% for cl_image in collection.metafields.accentuate.image_2[forloop.index0] %}
              {% assign image_height = cl_image.height %}
              {% assign image_width = cl_image.width %}
              {% assign padding_bottom = image_height | times: 1.00 | divided_by: image_width | times: 100 %}
              <div class="image-wrap" data-anim="fade-slow" data-anim-order="2">
                <div class="cropped-image-wrapper" style="padding-bottom: {{ padding_bottom }}%;">
                  <img class="lazyload fade-in"
                      data-src="{{ cl_image.cloudinary_src }}"
                      data-widths="[360, 540, 720, 900, 1080, 1600, 2200, 2800]"
                      data-aspectratio="{{ cl_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ cl_image.alt_text }}">
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% if collection.metafields.accentuate.image_2_product_link[forloop.index0] != blank %}
          </a>
        {% endif %}

      </div>

    {%- endif -%}
  </section>
{% endfor %}


<section class="end-icon image-section container">
  {% render 'icon-star' %}
</section>
