<section class="container page-padded-top padded page-search">
  {% paginate search.results by 15 %}

    <header class="padded">
      <h1 class="hd-4">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            {{ 'general.search.no_results_html' | t: terms: search.terms }}
          {% else %}
            {{ 'general.search.results_for_html' | t: terms: search.terms }}
          {% endif %}
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h1>
    </header>

  {% if search.performed %}
      <ul class="cols-3 product-grid">
        {% for item in search.results %}

          {% if item.object_type == 'product' %}
            <li>
              {% render 'product-card', product: item %}
            </li>
          {% else %}
            <li >
              <div class="result-card">
                {% assign featured_image = item.image | default: item.featured_image %}
                {% if featured_image != blank %}
                  <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                    {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
                  </a>
                {% endif %}

                <h5 class="">{{ item.title | link_to: item.url }}</h5>
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              </div>
            </li>
          {% endif %}

        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}

  {% endpaginate %}

</section>
